.card {
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #000;
  overflow: hidden;
  max-width: 400px;
}

.card-header {
  height: 300px;
}
.card-header img {
  height: 100%;
  width: 100%;
}

.card-body {
  padding: 10px;
}

.card-body h3 {
  color: rgb(15, 15, 15);
  font-size: 25px;
}

.card-body p:nth-child(2){
  font-size: 25px;
  font-weight: bold;
}
.card-footer {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.card-footer button:first-child{
  flex: 3;
}
.card-footer button:nth-child(2){
  
  margin-right: 5px;
  margin-left: 5px;
}
.card-footer button:nth-child(3){
  color: #fff;
  background-color: rgb(24, 243, 53);
}


